            <div class="blog-sidebar">
                <div class="decoration hide-if-responsive"></div>
                <div class="widget container">
                    <a  id='search' ></a>
                    <h4>Looking for something?</h4>
                   <!--  <p>
                        An input field you can connect to your needs and use as a search field.
                    </p> -->
                    <form method="get" action="/search">
                        <input class="blog-search" type="text" name="search_key" value="{$search_key}" placeholder="Search here...">
                    </form>
                </div>
                <div class="decoration"></div>