<include file="Blog/Home/View/Common/html_head.html" title="博客栏目" />
<!-- Custom styles for this theme -->
<link rel="stylesheet" href="__PUBLIC__/Home/css/main.css">
<!-- DataTables-->
<link rel="stylesheet" href="__PUBLIC__/Home/plugins/dataTables/css/dataTables.css">
<style type="text/css">
    table tbody tr:hover{
        background: #fbffe4;
    }
</style>
</head>

<body>
    <section id="container">
        <!--main content start-->
        <section class="main-content-wrapper">
            <section id="main-content">
                <div class="row">
                    <div class="col-md-6">
                        <!--breadcrumbs start -->
                        <ul class="breadcrumb">
                           <foreach name="navigation" item="v">
                                <li>{$v.title}</li>
                            </foreach>
                        </ul>
                        <!--breadcrumbs end -->
                        <!-- <h1 class="h1">Date Tables</h1> -->
                    </div>

                    <div class="col-md-6">
                        <button type="button" id="add" class="btn btn-default" style="float:right;">添加栏目</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="panel-body">
                        <form action="/Home/Cat/index.html" method="post" id="form">
                                <div class="col-sm-2">
                                    <!-- 开始使用select标签 -->
                                    <taglib name="html" />
                                    <html:select name="id" id="id" first="全部栏目" selected="selected" style="form-control" options="options" change="optionsChange(this)" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">栏目列表</h3>
                                <div class="actions pull-right">
                                    <i class="fa fa-chevron-down"></i>
                                    <i class="fa fa-times"></i>
                                </div>
                            </div>
                            <div class="panel-body">
                                <table id="example" class="table">
                                    <thead>
                                        <tr>
                                            <th width="10%">排序</th>
                                            <th width="10%">id</th>
                                            <th>栏目名称</th>
                                            <th width="10%">显示</th>
                                            <th width="20%">操作管理</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <foreach name="rest" item="v">
                                            <tr id="{$v.pid}_{$v.id}" onclick="touchMe(this)">
                                                <td>{$v.sort}</td>
                                                <td>{$v.id}</td>
                                                <td>{$v.title}</td>
                                                <td>{:status($v['isdisplay'])}</td>
                                                <td>
                                                    <a href="javascript:" onclick="add({$v.id});" >添加子栏目</a>
                                                    <a href="javascript:" onclick="modify({$v.id});" >修改</a>
                                                    <a href="javascript:" onclick="del({$v.id})">删除</a>
                                                    <a href="javascript:" onclick="blog({$v.id},'{$v.title}')">博客</a>
                                                </td>
                                            </tr>
                                        </foreach>
                                    </tbody>
                                </table>
                                {$page}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        <!--main content end-->
    </section>
    <include file="Blog/Home/View/Common/js.html" />
    <script type="text/javascript" src="__PUBLIC__/Home/js/project/cat.js"></script>
    <script type="text/javascript">
        $(function() {
            var nodeIds = $('tr').val('id');
            console.log(nodeIds);

        })

        function touchMe(_this) {
            var idStr = $(_this).attr('id');
            console.log(idStr);
        }

    </script>
</body>

</html>
