<include file="Blog/Home/View/Common/html_head.html" title="{$title?$title:$rest['title']}" />
<!-- iCheck-->
<link rel="stylesheet" href="__PUBLIC__/Common/css/markdown/main.css">
<!-- <link rel="stylesheet" href="__PUBLIC__/Home/plugins/icheck/css/_all.css"> -->
<link rel="stylesheet" href="__PUBLIC__/Common/css/markdown/bootstrap-responsive.css">
<link rel="stylesheet" href="__PUBLIC__/Common/css/markdown//bootstrap.css">
<link rel="stylesheet" href="__PUBLIC__/Common/css/markdown/bootstrap-responsive.css">
<link rel="stylesheet" href="__PUBLIC__/Common/css/markdown/syntaxhighlighting.css">

 <base target="_blank"/>

</head>

<body>
    <section id="container">

        <!--main content start-->
        <section class="main-content-wrapper">
            <section id="main-content">
                <div class="row">
                    <div class="col-md-12">
                        <!--breadcrumbs start -->
                        <ul class="breadcrumb">
                           <foreach name="navigation" item="v">
                            <li>{$v.title}</li>
                        </foreach>
                    </ul>
                    <!--breadcrumbs end -->
                    <!-- <h1 class="h1">Form Validation</h1> -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">{$title?$title:$rest['title']}</h3>
                            <div class="actions pull-right">
                                <i class="fa fa-chevron-down"></i>
                                <i class="fa fa-times"></i>
                            </div>
                        </div>
                        <div class="panel-body">
                                <div class="col-md-12">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">正文</h3>
                                            <div class="actions pull-right">
                                                <i class="fa fa-chevron-down"></i>
                                                <i class="fa fa-times"></i>
                                            </div>
                                        </div>
                                        <!-- <div class="panel-body"> -->
                                        <div class="panel-body livedemo" id="content">
                                                {:htmlspecialchars_decode($rest['content'])}
                                        </div>
                                    </div>
                                </div>
                        </div>

                </div>
            </div>
        </div>
    </div>

</section>
</section>
<!--main content end-->
</section>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>

<script src="__PUBLIC__/Common/js/markdown/vendor/bootstrap.min.js"></script>
<script src="__PUBLIC__/Common/js/markdown/plugins.js"></script>
<script src="__PUBLIC__/Common/js/markdown/marked.js"></script>
<script src="__PUBLIC__/Common/js/markdown/highlight.js"></script>
<script src="__PUBLIC__/Common/js/markdown/main.js"></script>
<include file="Blog/Home/View/Common/js.html" />
<script type="text/javascript" src="__PUBLIC__/Home/js/project/blog.js"></script>

</body>

</html>
