<include file="Blog/Home/View/Common/html_head.html" title="{$rest.title}" />
<!-- iCheck-->
<link rel="stylesheet" href="__PUBLIC__/Home/plugins/icheck/css/_all.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/highlight.min.js"></script>

</head>

<body>
    <section id="container">

        <!--main content start-->
        <section class="main-content-wrapper">
            <section id="main-content">
                <div class="row">
                    <div class="col-md-12">
                        <!--breadcrumbs start -->
                        <ul class="breadcrumb">
                         <foreach name="navigation" item="v">
                            <li>{$v.title}</li>
                        </foreach>
                    </ul>
                    <!--breadcrumbs end -->
                    <!-- <h1 class="h1">Form Validation</h1> -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">修改博客</h3>
                            <div class="actions pull-right">
                                <i class="fa fa-chevron-down"></i>
                                <i class="fa fa-times"></i>
                            </div>
                        </div>
                        <div class="panel-body">
                            <form class="form-horizontal form-border" id="form">
                                <input type="hidden" id="id" value="{$rest.id}" />
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">栏目</label>
                                    <div class="col-sm-4">
                                        <!-- 开始使用select标签 -->
                                        <taglib name="html" />
                                        <html:select name="cat_id" id="cat_id" style="form-control" options="options" selected="rest['cat_id']" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">标题</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" value="{$rest.title}" name="title" id="title" required="" placeholder="Required input">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">正文</h3>
                                            <div class="actions pull-right">
                                                <i class="fa fa-chevron-down"></i>
                                                <i class="fa fa-times"></i>
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <button type="button" onclick="change()"><i class="fa fa-file-o">源码</i></button>
                                            <button type="button" onclick="javascript:window.open('http://hello2world.top/Home/Blog/detail.html?id=67&title=Markdown%E9%80%9A%E7%94%A8%E6%89%8B%E5%86%8C','_blank')"><i class="fa fa-question-circle">手册</i></button>
                                            <textarea id="contentSource" style="height:400px;width:925px;" onkeyup="compile()" onblur="change()">{$rest.contentSource}</textarea>
                                            <div style="display: none;" ondblclick="change()" id="content">{:htmlspecialchars_decode($rest['content'])}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">点击次数</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" value="{$rest.click}" name="click" id="click" required="" placeholder="Required input">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">是否显示</label>
                                    <div class="col-sm-2">
                                        <select name="isdisplay" id="isdisplay" class="form-control">
                                            <option value="0" {$rest['isdisplay']==0?'selected':''}>是</option>
                                            <option value="1" {$rest['isdisplay']?'selected':''}>否</option>
                                        </select>
                                    </div>
                                </div>
                                <input type="hidden" name="from" id="from" value="markdown">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-default">
                                    <div class="col-md-4">
                                        <div class="panel-body">
                                            <button type="button" id="saveModify2" class="btn btn-success btn-block">保存</button>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="panel-body">
                                            <button type="button" id="cancle" class="btn btn-default btn-block">取消</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>

</section>
</section>
<!--main content end-->
</section>

<include file="Blog/Home/View/Common/js.html" />
<script type="text/javascript" src="__PUBLIC__/Home/js/project/blog.js"></script>
<!--Page Level JS-->
<script src="__PUBLIC__/Home/plugins/icheck/js/icheck.min.js"></script>
<script src="__PUBLIC__/Home/plugins/validation/js/jquery.validate.min.js"></script>
<script src="__PUBLIC__/Home/plugins/validation/js/jquery.validate.min.js"></script>


<!--Page Level JS-->
<script src="__PUBLIC__/Home/plugins/bootstrap-wysihtml5/js/wysihtml5-0.3.0.js"></script>
<script src="__PUBLIC__/Home/plugins/bootstrap-wysihtml5/js/bootstrap3-wysihtml5.js"></script>
<!-- <script src="__PUBLIC__/Home/plugins/ckeditor/ckeditor.js"></script> -->
<script type="text/javascript" src="http://cdn.uedsc.com/showdown/0.5.0/showdown.min.js"></script>
<script>
    $(document).ready(function() {
        // $('.textarea').wysihtml5();

        // CKEDITOR.replace('content');
        // CKEDITOR.replace('content', { height: '500px'});
        // 
        window.onbeforeunload = function () {
            return ('确定离开页面？您输入的数据可能不被保留！');
        }
    });
    function compile(){
        var text = document.getElementById("contentSource").value;
        var converter = new Showdown.converter();
        var html = converter.makeHtml(text);
        document.getElementById("content").innerHTML = html;

            // $('#contentSource').toggle();
            // $('#content').toggle();
        }

        function change() {
           $('#contentSource').toggle();
           $('#content').toggle();
       }
   </script>
</body>
<style>
    body {
        font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
        font-size: 16px;
        line-height: 1.42857143;
        color: #333;
        /*background-color: #fff;*/
    }
    ul li {
        line-height: 24px;
    }
    blockquote {
        border-left:#eee solid 5px;
        padding-left:20px;
    }
    code {
        color:#D34B62;
        background: #F9F2F4;
    }
</style>
</html>
