<include file="Blog/Home/View/Common/html_head.html" title="博客" />
<!-- Custom styles for this theme -->
<link rel="stylesheet" href="__PUBLIC__/Home/css/main.css">
<!-- DataTables-->
<link rel="stylesheet" href="__PUBLIC__/Home/plugins/dataTables/css/dataTables.css">

</head>

<body>
  <section id="container">
    <!--main content start-->
    <section class="main-content-wrapper">
      <section id="main-content">
        <div class="row">
          <div class="col-md-6">
            <!--breadcrumbs start -->
            <ul class="breadcrumb">
              <foreach name="navigation" item="v">
                <li>{$v.title}</li>
              </foreach>
            </ul>
            <!--breadcrumbs end -->
            <!-- <h1 class="h1">Date Tables</h1> -->
          </div>

          <div class="col-md-6">
           <!--  <button type="button" id="add" class="btn btn-success" style="float:right;">添加文章(通用版)</button>
           <button type="button" id="add" class="btn btn-success" style="float:right;">添加文章(MarkDown)</button> -->
           
            <div class="btn-toolbar" style="float:right;" role="toolbar">
            <h6>添加文章</h6>
                                    <div class="btn-group">
                                        <button type="button" id="add" class="btn btn-default">通用版</button>
                                        <button type="button" id="add2" class="btn btn-primary">MarkDown</button>
                                    </div>
                                </div>
          </div>
        </div>

        <div class="row">
                    <div class="col-md-12">
                        <div class="panel-body">
                        <form action="/Home/Blog/index.html" method="post" id="form">
                                <div class="col-sm-2">
                                    <!-- 开始使用select标签 -->
                                    <taglib name="html" />
                                    <html:select name="cat_id" id="cat_id" first="全部栏目" selected="selected" style="form-control" options="options"  /> <!-- change="optionsChange(this)" -->
                                </div>
                                <div class="col-sm-2">
                                   <input type="text" name="title" value="{$title}" id="title" class="form-control" placeholder="请输入博客名称">
                                </div>
                                 <div class="col-sm-2">
                                   <button type="submit"  id="searchBtn" class="btn btn-default" style="float:right;">搜索</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">博客列表</h3>
                <div class="actions pull-right">
                  <i class="fa fa-chevron-down"></i>
                  <i class="fa fa-times"></i>
                </div>
              </div>
              <div class="panel-body">
                <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>名称</th>
                      <th>点击量</th>
                      <th>发布时间</th>
                      <th>修改时间</th>
                      <th>所属栏目</th>
                      <th>显示</th>
                      <th>操作管理</th>
                    </tr>
                  </thead>

                  <tbody>
                    <foreach name="rest" item="v">
                      <tr>
                        <td>{$v.id}</td>
                        <!-- <td onclick="detailContent({$v.id})" >{$v.title}</td> -->
                        <td><a href="/Home/Blog/detail.html?id={$v.id}&title={$v.title}" target="_blank">{$v.title}</a></td> 
                        <td>{$v.click}</td>
                        <td>{$v.created|date='Y-m-d H:i',###}</td>
                        <td>{$v.update_time|date='Y-m-d H:i',###}</td>
                          <td>
                            {:W('Blog/ParentDir',array($v['cat_id']))}
                          </td>
                          <td>{:status($v['isdisplay'])}</td>
                          <td>
                            <a href="javascript:" onclick="modify({$v.id})">修改</a>
                            <a href="javascript:" onclick="handle({$v.id});">删除</a>
                          </td>
                        </tr>
                      </foreach>
                    </tbody>
                  </table>
                  {$page}
                </div>
              </div>
            </div>
          </div>
        </section>
      </section>
      <!--main content end-->
    </section>
    <include file="Blog/Home/View/Common/js.html" />
    <script type="text/javascript" src="__PUBLIC__/Home/js/project/blog.js"></script>
  </body>

  </html>
