<script src="__PUBLIC__/Home/js/jquery-1.10.2.min.js"></script>
<!-- <script src="__PUBLIC__/Common/js/jquery-1.7.2.js"></script> -->
<script src="__PUBLIC__/Home/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/Home/plugins/waypoints/waypoints.min.js"></script>
<script src="__PUBLIC__/Home/js/application.js"></script>

<script type="text/javascript" src="__PUBLIC__/Common/js/jquery.form.js"></script>
<script type="text/javascript" src="__PUBLIC__/Common/js/dialog.js"></script>

<!-- <script type="text/javascript" src="__PUBLIC__/Home/js/project/dialog.js"></script>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/project/dialog.css"> -->