<include file="Blog/Home/View/Common/html_head.html" title="添加用户" />
<!-- iCheck-->
<link rel="stylesheet" href="__PUBLIC__/Home/plugins/icheck/css/_all.css">


</head>

<body>
	<section id="container">

		<!--main content start-->
		<section class="main-content-wrapper">
			<section id="main-content">
				<div class="row">
					<div class="col-md-12">
						<!--breadcrumbs start -->
						<ul class="breadcrumb">
							<foreach name="navigation" item="v">
								<li><a href="/{$v.m}/{$v.c}/{$v.a}">{$v.title}</a></li>
							</foreach>
						</ul>
						<!--breadcrumbs end -->
						<!-- <h1 class="h1">Form Validation</h1> -->
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">添加用户</h3>
								<div class="actions pull-right">
									<i class="fa fa-chevron-down"></i>
									<i class="fa fa-times"></i>
								</div>
							</div>
							<div class="panel-body">
								<form class="form-horizontal form-border" id="form">
									<div class="form-group">
										<label class="col-sm-3 control-label">所属角色</label>
										<div class="col-sm-2">
											<!-- 开始使用select标签 -->
											<taglib name="html" />
											<html:select name="role" id="role" style="form-control" options="options" />
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label">用户名称</label>
										<div class="col-sm-4">
											<input type="text" class="form-control" name="username" id="username" required="" placeholder="Required input">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label">真实姓名</label>
										<div class="col-sm-4">
											<input type="text" class="form-control"  name="name" id="name" required="" placeholder="Required input">
										</div>
									</div>
											<div class="form-group">
												<label class="col-sm-3 control-label">邮件地址</label>
												<div class="col-sm-4">
													<input type="email" class="form-control"  name="email" id="email" required="" placeholder="Email">
												</div>
											</div>
									<div class="form-group">
										<label class="col-sm-3 control-label">是否有效</label>
										<div class="col-sm-2">
											<select name="status" id="status" class="form-control">
												<option value="0">是</option>
												<option value="1">否</option>
											</select>
										</div>
									</div>
								</div>

							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="panel panel-default">
										<div class="col-md-4">
											<div class="panel-body">
												<button type="button" id="save" class="btn btn-success btn-block">添加</button>
											</div>
										</div>
										<div class="col-md-4">
											<div class="panel-body">
												<button type="button" id="cancle" class="btn btn-default btn-block">取消</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

					</form>


				</div>
			</div>
		</div>
	</div>

</section>
</section>
<!--main content end-->
</section>

<include file="Blog/Home/View/Common/js.html" />
<script type="text/javascript" src="__PUBLIC__/Home/js/project/user.js"></script>
<!--Page Level JS-->
<script src="__PUBLIC__/Home/plugins/icheck/js/icheck.min.js"></script>
<script src="__PUBLIC__/Home/plugins/validation/js/jquery.validate.min.js"></script>
<script src="__PUBLIC__/Home/plugins/validation/js/jquery.validate.min.js"></script>
</body>

</html>
