<include file="Blog/Home/View/Common/html_head.html" title="博客" />
<!-- Custom styles for this theme -->
<link rel="stylesheet" href="__PUBLIC__/Home/css/main.css">
<!-- DataTables-->
<link rel="stylesheet" href="__PUBLIC__/Home/plugins/dataTables/css/dataTables.css">

</head>

<body>
    <section id="container">
        <!--main content start-->
        <section class="main-content-wrapper">

<!--          <div class="panel-body">
   <div class="row">
       <div class="col-md-4">
           <h4>Modal Default</h4>
           Button trigger modal
           <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#basicModal">
               Launch default modal
           </button>
       </div>
       <div class="col-md-4">
           <h4>Modal Form</h4>
           Button trigger modal
           <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#formModal">
               Launch form modal
           </button>
       </div>
       <div class="col-md-4">
           <h4>Modal Scrolling</h4>
           Button trigger modal
           <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#scrollingModal">
               Launch scrolling modal
           </button>
       </div>
   </div>
</div> -->

<section id="main-content">
    <div class="row">
      <div class="col-md-6">
        <!--breadcrumbs start -->
        <ul class="breadcrumb">
          <foreach name="navigation" item="v">
            <li>{$v.title}</li>
        </foreach>
    </ul>
    <!--breadcrumbs end -->
    <!-- <h1 class="h1">Date Tables</h1> -->
</div>

         <!--    <div class="col-md-6">
             <button type="button" id="add" class="btn btn-success" style="float:right;">添加文章</button>
         </div> -->
     </div>
     <div class="row">
        <div class="col-sm-12">
            <div class="timeline" id="timeline">
                <article class="timeline-item left">
                    <div class="text-right">
                        <div class="time-layer">
                            <span class="label label-primary"><span class="title">标题</span> </span>
                        </div>
                    </div>
                </article>
                <article class="timeline-item ">
                    <div class="timeline-layer">
                        <div class="panel">
                            <div class="panel-heading">
                                <h1 class="panel-title"><div class="subTitle">双击文字</div><button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#scrollingModal">查看更多</button></h1>
                            </div>
                            <div class="panel-body">
                                <span class="arrow"></span>
                                <div class="timeline-icon"><i class="fa fa-arrow-down"></i>
                                </div>
                                
                                <p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="timeline-item last">
                    <div class="timeline-layer">
                        <div class="panel">
                            <div id="addNode" title="点击添加节点" class="timeline-icon"><font color="green"><i class="fa fa-arrow-down"></i></font></div>
                        </div>
                    </div>
                </article>

                <!-- Scrolling Modal -->
                <div class="modal fade" id="scrollingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">Scrolling Modal</h4>
                            </div>
                            <div class="modal-body modal-scroll content">
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Scrolling Modal -->


            </div>
        </div>
    </div>

    

</section>
</section>
<!--main content end-->
</section>

<!--Global JS-->
<include file="Blog/Home/View/Common/js.html" />
<script type="text/javascript" src="__PUBLIC__/Home/js/project/timeline.js"></script>
</body>
<style type="text/css">
    .btn-lg {
        padding: 0.5px;
        font-size: 10px;
        line-height: 1.33;
        float: right;
        margin-top: -17px;
    }
</style>
</html>
