<!DOCTYPE html PUBLIC "-//W3C//Ddiv XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/Ddiv/xhtml1-transitional.ddiv">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>[title]</title>
	<link rel=”icon” href=”/favicon.ico” mce_href=”/favicon.ico” type=”image/x-icon”>
	<link rel=”shortcut icon” href=”/favicon.ico” mce_href=”/favicon.ico” type=”image/x-icon”>
	<link rel="stylesheet" href="__PUBLIC__/Common/css/index.css" />
	<link rel="stylesheet" href="__PUBLIC__/Common/css/common.css" />
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script type="text/javascript" src="__PUBLIC__/Common/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Common/js/index.js"></script>
	{:baiduAccount()}
