{include file="Common/header.html" title="blog"}
</head>
<body>
{include file="Common/loader.html"}
<div class="all-elements">
{include file="Common/left.html"}
    <div class="header">
        <a href="#" class="main-logo"></a>
        <a href="#" class="open-menu"><i class="fa fa-navicon"></i></a>
        <a href="#" class="open-call"><i class="fa fa-phone"></i></a>
        <a href="#" class="open-mail"><i class="fa fa-envelope-o"></i></a>
    </div> 
    
    <a href="#" class="footer-ball"><i class="fa fa-navicon"></i></a>
    
    <!-- Page Content-->
    <div id="content" class="snap-content">        
        <div class="header-clear"></div>
        <div class="content">

            <div class="container no-bottom">
                <h3>Page Timeline</h3>
                <p>
                    Timelines are easy to use and update. Easy classes you just copy and paste. Timelines support text, images, videos, quotes,
                    and everyother combination you can think of!
                </p>
            </div>
            
            <div class="decoration"></div>
            
            <div class="timeline">
                <div class="timeline-decoration" style="height:96%;"></div>
                <div class="timeline-item">
                    <div class="timeline-icon">
                        <i class="fa fa-pencil"></i>
                    </div>
                    <div class="timeline-text">
                        <h3 class="title">Text Timeline</h3>
                        <em class="subtitle">A timeline text post</em>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Donec blandit faucibus suscipit. Donec vestibulum erat 
                            in nunc tempor, eget ornare arcu. 
                        </p>
                    </div>
                </div>
                <div class="timeline-item">
                    <div class="timeline-icon">
                        <i class="fa fa-camera"></i>
                    </div>
                    <div class="timeline-text">
                        <h3 class="title">Image Timeline</h3>
                        <em class="subtitle">A timeline image post</em>
                        <img src="{$smarty.const.__PUBLIC__}/images/pictures/5ww.jpg" alt="img" class="responsive-image">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Donec blandit faucibus suscipit. Donec vestibulum erat 
                            in nunc tempor, eget ornare arcu. 
                        </p>
                    </div>
                </div>
                <div class="timeline-item">
                    <div class="timeline-icon">
                        <i class="fa fa-vimeo-square"></i>
                    </div>
                    <div class="timeline-text">
                        <h3 class="title">Video Timeline</h3>
                        <em class="subtitle">A timeline video post</em>
                        <iframe class="responsive-video" src=""></iframe>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Donec blandit faucibus suscipit. Donec vestibulum erat 
                            in nunc tempor, eget ornare arcu. 
                        </p>
                    </div>
                </div>
                <div class="timeline-item">
                    <div class="timeline-icon">
                        <i class="fa fa-youtube-play"></i>
                    </div>
                    <div class="timeline-text">
                        <h3 class="title">Video Timeline</h3>
                        <em class="subtitle">A timeline video post</em>
                        <iframe class="responsive-video" src=""></iframe>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Donec blandit faucibus suscipit. Donec vestibulum erat 
                            in nunc tempor, eget ornare arcu. 
                        </p>
                    </div>
                </div>
                <div class="timeline-item">
                    <div class="timeline-icon">
                        <i class="fa fa-quote-left"></i>
                    </div>
                    <div class="timeline-text timeline-quote no-bottom">
                        <h3 class="title">This is an amazing template, thanks for sharing! My mobile looks awesome now!</h3>
                        <a href="#" class="subtitle">John Doe, ThemeForest Buyer</a>
                    </div>
                </div>
                <div class="timeline-item timeline-ending">
                    <div class="timeline-icon">
                        <i class="fa fa-times"></i>
                    </div>
                    <div class="timeline-text timeline-quote no-bottom">
                        <h3 class="title">Our timeline events end here, but check uot the top part for news!</h3>
                    </div>
                </div>
            </div>    
            <div class="decoration"></div>
            
        </div>
        <!-- Page Footer-->
        <div class="footer">
            <p class="center-text">Copyright 2015. All rights reserved.</p>
            <div class="footer-socials half-bottom">
                <a href="#" class="footer-facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" class="footer-twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" class="footer-transparent"></a>
                <a href="#" class="footer-share show-share-bottom"><i class="fa fa-share-alt"></i></a>
                <a href="#" class="footer-up"><i class="fa fa-angle-up"></i></a>
            </div>
        </div>    
        
    </div>
    
    <div class="share-bottom">
        <h3>Share Page</h3>
        <div class="share-socials-bottom">
            <a href="">
                <i class="fa fa-facebook facebook-color"></i>
                Facebook
            </a>
            <a href="">
                <i class="fa fa-twitter twitter-color"></i>
                Twitter
            </a>
            <a href="">
                <i class="fa fa-google-plus google-color"></i>
                Google
            </a>

            <a href="">
                <i class="fa fa-pinterest-p pinterest-color"></i>
                Pinterest
            </a>
            <a href="sms:">
                <i class="fa fa-comment-o sms-color"></i>
                Text
            </a>
            <a href="">
                <i class="fa fa-envelope-o mail-color"></i>
                Email
            </a>
        </div>
        <a href="#" class="close-share-bottom">Close</a>
    </div>
    
</div>

</body>

