{include file="Common/header.html" title="blog"}
</head>
<body>
{include file="Common/loader.html"}
<div class="all-elements">
{include file="Common/left.html"}
    <div class="header">
        <a href="#" class="main-logo"></a>
        <a href="#" class="open-menu"><i class="fa fa-navicon"></i></a>
        <a href="#" class="open-call"><i class="fa fa-phone"></i></a>
        <a href="#" class="open-mail"><i class="fa fa-envelope-o"></i></a>
    </div> 
    
    <a href="#" class="footer-ball"><i class="fa fa-navicon"></i></a>
    
    <!-- Page Content-->
    <div id="content" class="snap-content">        
        <div class="header-clear"></div>
        <div class="content">
            <h3>Pie Charts</h3>
            <p>Pie charts are amazing, and very easy to use in our template, the variables
            are already inside the custom.js file, you simply copy and paste these
            variables, duplicate the pie ID, and you succesfully created another
            responsive chart!</p>   

            <div class="container">  
                <div class="one-half-responsive">
                    <div class="full-bottom" id="pie-chart">
                        <canvas id="generate-pie-chart"></canvas>
                    </div>  
                </div>
                <div class="one-half-responsive last-column">
                    <h3>Pie Statistics</h3>
                    <p class="no-bottom"><em class="chart-box" style="background-color:#c0392b"></em>50% More Red!</p>
                    <p class="no-bottom"><em class="chart-box" style="background-color:#2ecc71"></em>10% More Green!</p>
                    <p class="no-bottom"><em class="chart-box" style="background-color:#f1c40f"></em>10% More Yellow!</p>
                    <p class="no-bottom"><em class="chart-box" style="background-color:#2c3e50"></em>10% More Blue!</p>
                </div>
            </div>

            <div class="decoration"></div>

            <h3>Bar Charts</h3>
            <p>Pie charts are amazing, and very easy to use in our template, the variables
            are already inside the custom.js file, you simply copy and paste these
            variables, duplicate the pie ID, and you succesfully created another
            responsive chart!</p>   

            <div class="container">  
                <div class="one-half-responsive">
                    <div class="full-bottom" id="bar-chart">
                        <canvas id="generate-bar-chart"></canvas>
                    </div>  
                </div>
                <div class="one-half-responsive last-column">
                    <h3>Bar Statistics</h3>
                    <p class="no-bottom"><strong class="chart-text">One: </strong>50% More Red!</p>
                    <p class="no-bottom"><strong class="chart-text">Two: </strong>10% More Green!</p>
                    <p class="no-bottom"><strong class="chart-text">Three: </strong>10% More Yellow!</p>
                    <p class="no-bottom"><strong class="chart-text">Four:</strong>10% More Blue!</p>
                </div>
            </div>

            <div class="decoration"></div>
            <div class="one-half-responsive">
                <div class="container half-bottom">
                <h3>CSS3 Horizontal Square Charts</h3>
                <p>Charts are awesome, important and they are a must, multiple color variations to make it sweet!</p>
                    <div class="chart">
                        <strong>A red chart</strong>
                        <em>10%</em>
                        <div class="chart-background">
                            <div class="red-chart p10"></div>
                        </div>
                    </div>
                    <div class="chart">
                        <strong>A yellow chart</strong>
                        <em>30%</em>
                        <div class="chart-background">
                            <div class="yellow-chart p30"></div>
                        </div>
                    </div>
                    <div class="chart">
                        <strong>A blue chart</strong>
                        <em>50%</em>
                        <div class="chart-background">
                            <div class="blue-chart p50"></div>
                        </div>
                    </div>
                    <div class="chart">
                        <strong>And a green chart!</strong>
                        <em>90%</em>
                        <div class="chart-background">
                            <div class="green-chart p90"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="decoration hide-if-responsive"></div>

            <div class="one-half-responsive last-column">
                <div class="container half-bottom">
                <h3>CSS3 Horizontal Rounded Charts</h3>
                <p>Charts are awesome, important and they are a must, multiple color variations to make it sweet!</p>
                    <div class="chart chart-round">
                        <strong>A red chart</strong>
                        <em>10%</em>
                        <div class="chart-background">
                            <div class="red-chart p10"></div>
                        </div>
                    </div>
                    <div class="chart chart-round">
                        <strong>A yellow chart</strong>
                        <em>30%</em>
                        <div class="chart-background">
                            <div class="yellow-chart p30"></div>
                        </div>
                    </div>
                    <div class="chart chart-round">
                        <strong>A blue chart</strong>
                        <em>50%</em>
                        <div class="chart-background">
                            <div class="blue-chart p50"></div>
                        </div>
                    </div>
                    <div class="chart chart-round">
                        <strong>And a green chart!</strong>
                        <em>90%</em>
                        <div class="chart-background">
                            <div class="green-chart p90"></div>
                        </div>
                    </div>
                </div>  
            </div>
            <div class="clear"></div>

            <div class="decoration"></div>
            
        </div>
        <!-- Page Footer-->
        <div class="footer">
            <p class="center-text">Copyright 2015. All rights reserved.</p>
            <div class="footer-socials half-bottom">
                <a href="#" class="footer-facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" class="footer-twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" class="footer-transparent"></a>
                <a href="#" class="footer-share show-share-bottom"><i class="fa fa-share-alt"></i></a>
                <a href="#" class="footer-up"><i class="fa fa-angle-up"></i></a>
            </div>
        </div>    
        
    </div>
    
    <div class="share-bottom">
        <h3>Share Page</h3>
        <div class="share-socials-bottom">
            <a href="">
                <i class="fa fa-facebook facebook-color"></i>
                Facebook
            </a>
            <a href="">
                <i class="fa fa-twitter twitter-color"></i>
                Twitter
            </a>
            <a href="">
                <i class="fa fa-google-plus google-color"></i>
                Google
            </a>

            <a href="">
                <i class="fa fa-pinterest-p pinterest-color"></i>
                Pinterest
            </a>
            <a href="sms:">
                <i class="fa fa-comment-o sms-color"></i>
                Text
            </a>
            <a href="">
                <i class="fa fa-envelope-o mail-color"></i>
                Email
            </a>
        </div>
        <a href="#" class="close-share-bottom">Close</a>
    </div>
    
</div>

</body>

