{include file="Common/header.html" title="blog"}
</head>
<body>
{include file="Common/loader.html"}
<div class="all-elements">
{include file="Common/left.html"}
    <div class="header">
        <a href="#" class="main-logo"></a>
        <a href="#" class="open-menu"><i class="fa fa-navicon"></i></a>
        <a href="#" class="open-call"><i class="fa fa-phone"></i></a>
        <a href="#" class="open-mail"><i class="fa fa-envelope-o"></i></a>
        <a href="/page_media.html" class="open-back"><i class="fa fa-chevron-left"></i></a>
    </div> 
    
    <a href="#" class="footer-ball"><i class="fa fa-navicon"></i></a>
    
    <!-- Page Content-->
    <div id="content" class="snap-content">        
        <div class="header-clear"></div>
        <div class="content">
 
            <h3>An adaptive image gallery</h3>
            <p>
                An adaptive image gallery, simply tap one of the three icons at the bottom right and the gallery will shift 
                and adjust to change the view of the current thumbnail style. Three columns, two columns or one simple large
                column of icons. Try it! 
            </p>
            
            <div class="decoration"></div>
            
            <div class="adaptive-style">
                <h4>Gallery</h4>
                <a class="adaptive-three-activate active-adaptive-style" href="#"><i class="fa fa-th"></i></a>
                <a class="adaptive-two-activate"   href="#"><i class="fa fa-th-large"></i></a>
                <a class="adaptive-one-activate" href="#"><i class="fa fa-navicon"></i></a>
            </div>
            <div class="clear"></div>

            <div class="decoration"></div>
            
            <div class="portfolio-adaptive adaptive-three">
                <div class="adaptive-item">
                    <a href="{$smarty.const.__PUBLIC__}/images/pictures/1.jpg" class="swipebox" title="Caption Goes Here">
                        <img class="responsive-image" src="{$smarty.const.__PUBLIC__}/images/pictures/1s.jpg" alt="img">
                    </a>
                </div>
                <div class="adaptive-item">
                    <a href="{$smarty.const.__PUBLIC__}/images/pictures/2.jpg" class="swipebox" title="Caption Goes Here">
                        <img class="responsive-image" src="{$smarty.const.__PUBLIC__}/images/pictures/2s.jpg" alt="img">
                    </a>
                </div>
                <div class="adaptive-item">
                    <a href="{$smarty.const.__PUBLIC__}/images/pictures/3.jpg" class="swipebox" title="Caption Goes Here">
                        <img class="responsive-image" src="{$smarty.const.__PUBLIC__}/images/pictures/3s.jpg" alt="img">
                    </a>
                </div>
                <div class="adaptive-item">
                    <a href="{$smarty.const.__PUBLIC__}/images/pictures/4.jpg" class="swipebox" title="Caption Goes Here">
                        <img class="responsive-image" src="{$smarty.const.__PUBLIC__}/images/pictures/4s.jpg" alt="img">
                    </a>
                </div>
                <div class="adaptive-item">
                    <a href="{$smarty.const.__PUBLIC__}/images/pictures/5.jpg" class="swipebox" title="Caption Goes Here">
                        <img class="responsive-image" src="{$smarty.const.__PUBLIC__}/images/pictures/5s.jpg" alt="img">
                    </a>
                </div>
                <div class="adaptive-item">
                    <a href="{$smarty.const.__PUBLIC__}/images/pictures/6.jpg" class="swipebox" title="Caption Goes Here">
                        <img class="responsive-image" src="{$smarty.const.__PUBLIC__}/images/pictures/6s.jpg" alt="img">
                    </a>
                </div>                
                <div class="adaptive-item">
                    <a href="{$smarty.const.__PUBLIC__}/images/pictures/4.jpg" class="swipebox" title="Caption Goes Here">
                        <img class="responsive-image" src="{$smarty.const.__PUBLIC__}/images/pictures/7s.jpg" alt="img">
                    </a>
                </div>
                <div class="adaptive-item">
                    <a href="{$smarty.const.__PUBLIC__}/images/pictures/5.jpg" class="swipebox" title="Caption Goes Here">
                        <img class="responsive-image" src="{$smarty.const.__PUBLIC__}/images/pictures/8s.jpg" alt="img">
                    </a>
                </div>
                <div class="adaptive-item">
                    <a href="{$smarty.const.__PUBLIC__}/images/pictures/6.jpg" class="swipebox" title="Caption Goes Here">
                        <img class="responsive-image" src="{$smarty.const.__PUBLIC__}/images/pictures/1s.jpg" alt="img">
                    </a>
                </div>
            </div>
            <div class="decoration"></div>
            
        </div>
        <!-- Page Footer-->
        <div class="footer">
            <p class="center-text">Copyright 2015. All rights reserved.</p>
            <div class="footer-socials half-bottom">
                <a href="#" class="footer-facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" class="footer-twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" class="footer-transparent"></a>
                <a href="#" class="footer-share show-share-bottom"><i class="fa fa-share-alt"></i></a>
                <a href="#" class="footer-up"><i class="fa fa-angle-up"></i></a>
            </div>
        </div>    
        
    </div>
    
    <div class="share-bottom">
        <h3>Share Page</h3>
        <div class="share-socials-bottom">
            <a href="">
                <i class="fa fa-facebook facebook-color"></i>
                Facebook
            </a>
            <a href="">
                <i class="fa fa-twitter twitter-color"></i>
                Twitter
            </a>
            <a href="">
                <i class="fa fa-google-plus google-color"></i>
                Google
            </a>

            <a href="">
                <i class="fa fa-pinterest-p pinterest-color"></i>
                Pinterest
            </a>
            <a href="sms:">
                <i class="fa fa-comment-o sms-color"></i>
                Text
            </a>
            <a href="">
                <i class="fa fa-envelope-o mail-color"></i>
                Email
            </a>
        </div>
        <a href="#" class="close-share-bottom">Close</a>
    </div>
    
</div>

</body>

