{include file="Common/header.html" title="blog"}
</head>
<body>
{include file="Common/loader.html"}
<div class="all-elements">
{include file="Common/left.html"}
    <div class="header">
        <a href="#" class="main-logo"></a>
        <a href="#" class="open-menu"><i class="fa fa-navicon"></i></a>
        <a href="#" class="open-call"><i class="fa fa-phone"></i></a>
        <a href="#" class="open-mail"><i class="fa fa-envelope-o"></i></a>
    </div> 
    
    <a href="#" class="footer-ball"><i class="fa fa-navicon"></i></a>
    
    <!-- Page Content-->
    <div id="content" class="snap-content">        
        <div class="header-clear"></div>
        <div class="content">
            
            <h3>Galleries</h3>
            <p class="half-bottom">
                Advertise your products without a gallery but with a simple image and a great description instead.
            </p>
            
            <div class="container features-page">
                <a href="/gallery_adaptive.html"><i class="fa fa-th-list"></i>   Adaptive        <i class="fa fa-angle-right"></i></a>
                <a href="/gallery_one.html"><i class="fa fa-image"></i>          One Column      <i class="fa fa-angle-right"></i></a>
                <a href="/gallery_two.html"><i class="fa fa-th-large"></i>       Two Columns     <i class="fa fa-angle-right"></i></a>
                <a href="/gallery_wide.html"><i class="fa fa-bars"></i>          Wide Columns    <i class="fa fa-angle-right"></i></a>
            </div>
            
            <h3>Portfolio</h3>
            <p class="half-bottom">
                Advertise your products with a sliding image gallery touch enabled and preloaded. 
            </p>
            
            <div class="container features-page">
                <a href="/portfolio_adaptive.html"><i class="fa fa-th-list"></i>   Adaptive        <i class="fa fa-angle-right"></i></a>
                <a href="/portfolio_one.html"><i class="fa fa-camera"></i>         One Column      <i class="fa fa-angle-right"></i></a>
                <a href="/portfolio_two.html"><i class="fa fa-th-large"></i>       Two Columns     <i class="fa fa-angle-right"></i></a>
            </div>             
            
            
            <h3>Video Embeds</h3>
            <p class="half-bottom">
                Embed videos from any website you want, and keep their aspect ration amazing! 
                Just remember to have your videos in HTML 5 so they work on all mobile and tablets! 
            </p>
            
            <div class="container features-page">
                <a href="/page_videos.html"><i class="fa fa-youtube-play"></i>   Videos        <i class="fa fa-angle-right"></i></a>
            </div> 
            
        </div>
        <!-- Page Footer-->
        <div class="footer">
            <p class="center-text">Copyright 2015. All rights reserved.</p>
            <div class="footer-socials half-bottom">
                <a href="#" class="footer-facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" class="footer-twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" class="footer-transparent"></a>
                <a href="#" class="footer-share show-share-bottom"><i class="fa fa-share-alt"></i></a>
                <a href="#" class="footer-up"><i class="fa fa-angle-up"></i></a>
            </div>
        </div>    
        
    </div>
    
    <div class="share-bottom">
        <h3>Share Page</h3>
        <div class="share-socials-bottom">
            <a href="">
                <i class="fa fa-facebook facebook-color"></i>
                Facebook
            </a>
            <a href="">
                <i class="fa fa-twitter twitter-color"></i>
                Twitter
            </a>
            <a href="">
                <i class="fa fa-google-plus google-color"></i>
                Google
            </a>

            <a href="">
                <i class="fa fa-pinterest-p pinterest-color"></i>
                Pinterest
            </a>
            <a href="sms:">
                <i class="fa fa-comment-o sms-color"></i>
                Text
            </a>
            <a href="">
                <i class="fa fa-envelope-o mail-color"></i>
                Email
            </a>
        </div>
        <a href="#" class="close-share-bottom">Close</a>
    </div>
    
</div>

</body>

