<include file="Blog/Home/View/Common/html_head.html" title="添加菜单" />
<!-- iCheck-->
<link rel="stylesheet" href="__PUBLIC__/Home/plugins/icheck/css/_all.css">


</head>

<body>
    <section id="container">

        <!--main content start-->
        <section class="main-content-wrapper">
            <section id="main-content">
                <div class="row">
                    <div class="col-md-12">
                        <!--breadcrumbs start -->
                        <ul class="breadcrumb">
                            <foreach name="navigation" item="v">
                                <li><a href="/{$v.m}/{$v.c}/{$v.a}">{$v.title}</a></li>
                            </foreach>
                        </ul>
                        <!--breadcrumbs end -->
                        <!-- <h1 class="h1">Form Validation</h1> -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">添加菜单</h3>
                                <div class="actions pull-right">
                                    <i class="fa fa-chevron-down"></i>
                                    <i class="fa fa-times"></i>
                                </div>
                            </div>
                            <div class="panel-body">
                                <form class="form-horizontal form-border" id="form">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">上级菜单</label>
                                        <div class="col-sm-4">
                                            <!-- 开始使用select标签 -->
                                            <taglib name="html" />
                                            <html:select name="pid" id="pid" first="作为一级菜单" style="form-control" selected="rest['id']" options="options" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">中文名称</label>
                                        <div class="col-sm-3">
                                            <input type="text" class="form-control" name="title" id="title" required="" placeholder="Required input">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">模块名</label>
                                        <div class="col-sm-3">
                                            <input type="text" class="form-control"  name="m" id="m" required="" placeholder="Required input">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">文件名</label>
                                        <div class="col-sm-3">
                                            <input type="text" class="form-control"  name="c" id="c" required="" placeholder="Required input">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">方法名</label>
                                        <div class="col-sm-3">
                                            <input type="text" class="form-control" name="action"  id="action" required="" placeholder="Required input">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">排序</label>
                                        <div class="col-sm-3">
                                            <input type="text" class="form-control"  name="sort" id="sort">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">是否显示</label>
                                        <div class="col-sm-2">
                                            <select name="status" id="status" class="form-control">
                                            <option value="0">是</option>
                                                <option value="1">否</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="panel panel-default">
                                            <div class="col-md-4">
                                                <div class="panel-body">
                                                    <button type="button" id="save" class="btn btn-success btn-block">添加</button>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="panel-body">
                                                    <button type="button" id="savemore" class="btn btn-info btn-block">继续添加</button>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="panel-body">
                                                    <button type="button" id="cancle" class="btn btn-default btn-block">取消</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </form>


                    </div>
                </div>
            </div>
        </div>

    </section>
</section>
<!--main content end-->
</section>

<include file="Blog/Home/View/Common/js.html" />
<script type="text/javascript" src="__PUBLIC__/Home/js/project/nav.js"></script>
<!--Page Level JS-->
<script src="__PUBLIC__/Home/plugins/icheck/js/icheck.min.js"></script>
<script src="__PUBLIC__/Home/plugins/validation/js/jquery.validate.min.js"></script>
<script src="__PUBLIC__/Home/plugins/validation/js/jquery.validate.min.js"></script>

</body>

</html>
